/*
 * -------------------------------------------------
 *  aradeepopsis Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params.leaf_classes = 3
params.multiscale = false
params.outdir = "./results"
params.images = "./test/pot/*png"
params.chunksize = 10
params.save_overlay = true
params.save_mask = true
params.save_original = true
params.save_rosette = false
params.save_hull = false
params.save_histogram = false
params.polaroid = false

includeConfig 'conf/base.config'

profiles {
  local { process.executor = 'local' }
  cbe { includeConfig 'conf/cbe.config' }
  singularity { singularity.enabled = true }
  docker {docker.enabled = true}
  conda { process.conda = "$baseDir/environment.yml" }
  test { includeConfig 'conf/test.config' }
}

manifest {
    description = "Nextflow pipeline to run semantic segmentation on plant rosette images with deepLab V3+"
    name = 'aradeepopsis'
    version = '0.1'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
}

tower {
  accessToken = '381521ad7b481979918df52d245e904e31a42cb4'
  enabled = true
}

timeline {
  enabled = true
  file = "${params.outdir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_dag.svg"
}
