/*
Copyright (C) 2019-2020 Patrick Hüther

This file is part of araDeepopsis.
araDeepopsis free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

araDeepopsis is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with araDeepopsis.  If not, see <https://www.gnu.org/licenses/>.
*/

/*
 * -------------------------------------------------
 *  araDeepopsis Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params.model = 'C'
params.summary_diagnostics = false
params.shiny = true
params.multiscale = false
params.outdir = "./results"
params.chunksize = 10
params.ignore_senescence = true
params.save_overlay = true
params.save_mask = true
params.save_rosette = true
params.save_hull = true
params.polaroid = false

includeConfig 'conf/base.config'

profiles {
  docker { docker.enabled = true }
  conda { process.conda = "$baseDir/environment.yml" }
  podman { podman.enabled =  true }
  singularity { singularity.enabled = true }
  test { includeConfig 'conf/test.config' }
  // cluster specific profiles
  cbe { includeConfig 'conf/cbe.config' }
}

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/aradeepopsis'
    description = "Nextflow pipeline to run semantic segmentation on plant rosette images with DeepLab V3+"
    name = 'aradeepopsis'
    version = '1.1'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
}

timeline {
  enabled = true
  file = "${params.outdir}/www/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/www/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution_trace.txt"
}
