/*
Copyright (C) 2019-2021 Patrick Hüther

This file is part of ARADEEPOPSIS.
ARADEEPOPSIS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ARADEEPOPSIS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARADEEPOPSIS.  If not, see <https://www.gnu.org/licenses/>.
*/

/*
 * -------------------------------------------------
 *  ARADEEPOPSIS Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params.model = 'C'
params.summary_diagnostics = false
params.shiny = true
params.multiscale = false
params.outdir = "./results"
params.chunksize = 10
params.save_overlay = true
params.save_mask = true
params.save_rosette = true
params.save_hull = true

// Relevant for models 'B' and 'C' only
params.ignore_senescence = true

// The following parameters are relevant for custom models and/or user-supplied masks only

// Can be changed to point to segmented masks corresponding to the images passed with params.images
// Semantic segmentation is skipped when this is set
params.masks = false

// Required if params.masks is set
// Has to be a comma-separated list of key=value pairs
// key is an arbitrary name for a class
// value is an integer pixel value (from 0-255) of a class in a supplied (grayscale) mask
params.label_spec = false

// specify pixel value that will be ignored when visualizing results
params.ignore_label = false

// Can be changed to point to a custom semantic segmentation model obtained from Deep Plant Phenomics (DPP),
// by default it points to the pretrained vegetation-segmentation checkpoint of DPP
params.dpp_checkpoint = 'https://raw.githubusercontent.com/p2irc/deepplantphenomics/2.1.0/deepplantphenomics/network_states/vegetation-segmentation-network/'

// Undocumented parameters
params.polaroid = false
params.warhol = false


includeConfig 'conf/base.config'

profiles {
  docker { docker.enabled = true }
  podman { podman.enabled =  true }
  singularity { singularity.enabled = true }
  charliecloud { includeConfig 'conf/charliecloud.config' }
  conda { includeConfig 'conf/conda.config' }
  test { includeConfig 'conf/test.config' }
  // cluster specific profiles
  cbe { includeConfig 'conf/cbe.config' }
  lrzcm2 { includeConfig 'conf/lrz.config' }
}

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/aradeepopsis'
    description = "Nextflow pipeline to run semantic segmentation on plant rosette images with DeepLab V3+"
    name = 'aradeepopsis'
    version = '1.3'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.07.1'
    doi = '10.1105/tpc.20.00318'
}

timeline {
  enabled = true
  file = "${params.outdir}/www/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/www/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/execution_trace.txt"
}
