/* -------------------------------------------------
 * Nextflow config file for aradeepopsis
 * -------------------------------------------------
 */

env {
  PYTHONPATH = "${PYTHONPATH}:$baseDir/bin"
}

process {
  container = 'docker.artifactory.imp.ac.at/becker/aradeepopsis:dev'

  withName: build_TFRecords {
  	cpus = { 1 * task.attempt }
  	memory = { 1.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: run_prediction {
  	cpus = { 4 * task.attempt }
  	memory = { 8.GB * task.attempt }
  	time = {4.h * task.attempt }
  }
}
