/*
Copyright (C) 2019-2020 Patrick Hüther

This file is part of ARADEEPOPSIS.
ARADEEPOPSIS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ARADEEPOPSIS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARADEEPOPSIS.  If not, see <https://www.gnu.org/licenses/>.
*/

/* -------------------------------------------------
 * Nextflow config file for ARADEEPOPSIS
 * -------------------------------------------------
 */

env {
  PYTHONPATH = "${PYTHONPATH}:$baseDir/bin"
  TF_CPP_MIN_LOG_LEVEL = 2
}

process {
  withName: build_records {
    container = 'quay.io/beckerlab/aradeepopsis-base:1.3'
    cpus = 1
    memory = 2.GB
    time = 1.h
  }
  withName: run_predictions {
    container = 'quay.io/beckerlab/aradeepopsis-base:1.3'
    cpus = 2
    memory = params.multiscale ? 12.GB : 6.GB
    time = 4.h
  }
  withName: run_predictions_DPP {
    container = 'quay.io/beckerlab/aradeepopsis-dpp:1.3'
    cpus = 2
    memory = 2.GB
    time = 4.h
  }
  withName: extract_traits {
    container = 'quay.io/beckerlab/aradeepopsis-base:1.3'
    cpus = 1
    memory = 2.GB
    time = 1.h
  }
  withName: draw_diagnostics {
    container = 'quay.io/beckerlab/aradeepopsis-base:1.3'
    cpus = 1
    memory = 2.GB
    time = 1.h
  }
  withName: launch_shiny {
    container = 'quay.io/beckerlab/aradeepopsis-shiny:1.3'
  }
}
