/* -------------------------------------------------
 * Nextflow config file for CBE 
 * -------------------------------------------------
 */

singularity.enabled = true

process {
  container = 'docker.artifactory.imp.ac.at/becker/aradeepopsis:master'
  executor = 'slurm'
  module = 'singularity/3.2.1'
  queue = 'c'
  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }
}