/* -------------------------------------------------
 * Nextflow config file for CBE 
 * -------------------------------------------------
 */

singularity.cacheDir = '/scratch-cbe/shared/containers'

process {
  executor = 'slurm'
  module = 'singularity/3.4.1:anaconda3/2019.03'
  queue = 'c'
  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

  withName: build_records {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: run_predictions {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withName: draw_diagnostics {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
}
