/*
Copyright (C) 2019-2020 Patrick Hüther

This file is part of ARADEEPOPSIS.
ARADEEPOPSIS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ARADEEPOPSIS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARADEEPOPSIS.  If not, see <https://www.gnu.org/licenses/>.
*/

/* -------------------------------------------------
 * Nextflow config file for CBE 
 * -------------------------------------------------
 */

singularity.cacheDir = '/resources/containers'

process {
  executor = 'slurm'
  module = 'anaconda3/2019.10'
  queue = 'c'
  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

  errorStrategy = { task.exitStatus in [104,134,135,137,139,140,143] ? 'retry' : 'finish' }
  maxRetries = 3

  withName: build_records {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: run_predictions {
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withName: run_predictions_DPP {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withName: extract_traits {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: draw_diagnostics {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
}
