/*
Copyright (C) 2019-2020 Patrick Hüther

This file is part of ARADEEPOPSIS.
ARADEEPOPSIS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ARADEEPOPSIS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ARADEEPOPSIS.  If not, see <https://www.gnu.org/licenses/>.
*/

/* -------------------------------------------------
 * Nextflow config file for ARADEEPOPSIS
 * -------------------------------------------------
 */

env {
  PYTHONPATH = "${PYTHONPATH}:$baseDir/bin"
}

process {
  withName: build_records {
    conda = "$baseDir/containers/base/environment.yml"
  }
  withName: run_predictions {
    conda = "$baseDir/containers/base/environment.yml"
  }
  withName: run_predictions_DPP {
    conda = "$baseDir/containers/addons/dpp/environment.yml"
  }
  withName: extract_traits {
    conda = "$baseDir/containers/base/environment.yml"
  }
  withName: draw_diagnostics {
    conda = "$baseDir/containers/base/environment.yml"
  }
  withName: launch_shiny {
    conda = "$baseDir/containers/shiny/environment.yml"
  }
}
