/* -------------------------------------------------
 * Nextflow config file for testing 
 * -------------------------------------------------
 */

params.images = [
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/1.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/2.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/3.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/4.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/5.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/6.png'
                ]