/* -------------------------------------------------
 * Nextflow config file for testing 
 * -------------------------------------------------
 */

params.images = [
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/1.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/2.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/3.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/4.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/5.png',
                'https://github.com/Gregor-Mendel-Institute/test-data/raw/aradeepopsis/data/6.png'
                ]

// override resource requests to stay within GitHub Actions limits
process {
  withName: build_records {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withName: run_predictions {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withName: draw_diagnostics {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
}